.vscode
logs/*.log
npm/lib/*
node_modules/
rn/UFDesign/node_modules/
rn/UFDesign/app/container/*
rn/UFDesign/dist/components/* 
!.gitstate 
package-lock.json
npm-debug.log
yarn-error.log
.DS_Store
.DS_Store?

